<div class="p-5 text-light w-75 text-center mx-auto container-transparent">
    <div class="container">
        <h1>Lorem ipsum dolor sit amet consectetur</h1>
        <h4 class="fw-lighter">28.08.2021</h3>
            <p class="fw-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eligendi quos cumque,
                iste debitis
                neque ad, molestias, beatae sequi tenetur voluptas? Optio magni quisquam autem asperiores officiis
                numquam assumenda quia?</p>
            <a href="generic" role="button" class="btn btn-outline-light">Learn more</a>
    </div>
</div>