<footer class="p-5 footer-container">
    <div class="container">
        <h4 class="text-light mb-0">Website buit by @Samuelcodingg</h4>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/57888ec9eb.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="assets/js/main.js" type="module"></script>