<header class="bg-transparent py-3 fixed-top">
    <div class="container text-white d-flex align-items-center justify-content-between">
        <a href="/" class="text-decoration-none text-white">
            <h4>Samuel Roman <span class="fw-lighter">software developer</span> </h4>
        </a>
        <div class="p-3 border border-ligth rounded-circle pointer">
            <i class="fas fa-bars fs-4"></i>
        </div>
    </div>
</header>