<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aesthetic</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>

    {{> header }}

    <section class="section first-section d-flex align-items-center justify-content-evenly">
        <h1 class="text-light opacity-50 fst-italic display-1 mb-5">Keep coding</h1>
    </section>

    <section class="section second-section d-flex align-items-center">
        {{> content_container }}
    </section>

    <section class="section third-section d-flex align-items-center">
        {{> content_container }}
    </section>

    {{> footer }}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/57888ec9eb.js" crossorigin="anonymous"></script>
</body>

</html>